<h1>Edit an awesome teacher!</h1>
<h2><b><%= @teacher.name + " | " + @teacher.code.to_s %> </b></h2>
<div class="row">
  <div class="col-md-5">
    <%= form_for @teacher, { role: 'form' } do |f| %>

      <%= f.fields_for :subjects, @teacher.subjects do |builder| %>

        <%= builder.label :subject_name, "Subject_name" %>
        <%= builder.text_field :subject_name %>

        <%= builder.label :subject_id, "Subject ID" %>
        <%= builder.number_field :subject_id %>

        <%= builder.label :active, "Active" %>
        <%= builder.check_box :active %>
        <br />

      <% end %>

     <%= f.submit 'Update teacher', { class: 'btn btn-success' } %>

    <% end %>
  </div>
</div>